* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #efefef;
  height: 87px;
  position: relative;
}
header .aside-block {
  height: 44px;
  background: #FFC107;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
header .aside-block p {
  margin-top: 12px;
}
header nav {
  position: relative;
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article {
  position: relative;
  top: 165px;
}
article section {
  position: relative;
}
article section .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 85px;
}
article section .section-container div {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
article section .section-container .movies {
  background: url("movies.jpg");
  background-size: cover;
  height: 235px;
  width: 355px;
}
article section .section-container .series {
  background: url("series.jpg");
  background-size: cover;
  height: 235px;
  width: 355px;
}
article section .section-container div:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer {
  position: relative;
  top: 300px;
  height: auto;
  background: #efefef;
}
footer .ul-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
footer .ul-container ul li {
  margin: 15px;
}
footer .ul-container ul li a {
  text-decoration: none;
}
footer p {
  margin-left: 25px;
}
footer .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}
footer .get-container img {
  height: 55px;
}
footer .get-container img:nth-child(3) {
  height: 105px;
  cursor: pointer;
}