section {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 15px;
}
section div img {
  height: 305px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
section div img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}